<%= form_with(model: aluno) do |form| %>
  <% if aluno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
        <% aluno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :turma_id %>
    <%= form.collection_select(:turma_id, Turma.all, :id, :nome,{:selected => @aluno.turma_id})%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
