<div id="<%= dom_id avaliacao %>">
  <p>
    <strong>Pontos:</strong>
    <%= avaliacao.pontos %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= avaliacao.observacoes %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= avaliacao.aluno_id %>
  </p>

  <p>
    <strong>Atividade:</strong>
    <%= avaliacao.atividade_id %>
  </p>

</div>
